* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  font-size: 16px;
  line-height: 20px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
  color: #beb8ce;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #fff;
  color: #605b6d;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1220px;
  padding: 0px 10px;
  margin: 0 auto;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 10px 20px;
  height: 70px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
}

.header._scrole {
  background-color: #171421;
  top: 0;
}

.logo {
  cursor: pointer;
}

.logo__img {
  padding-right: 15px;
  max-width: 100%;
}

.telnumber a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-align: right;
  color: #fff;
  margin: 0px 25px 0 15px;
}

.header__burger {
  display: block;
  position: relative;
  width: 30px;
  height: 20px;
  z-index: 102;
  cursor: pointer;
}

.header__burger::before {
  content: "";
  background-color: #936dff;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  top: 1px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__burger::after {
  content: "";
  background-color: #936dff;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__burger span {
  position: absolute;
  background-color: #936dff;
  width: 50%;
  height: 2px;
  right: 0;
  top: 10px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__menu {
  position: absolute;
  top: -1000px;
  width: 100%;
  max-width: 450px;
  background-color: #332c44;
  padding: 70px 50px 100px 50px;
  margin-right: 10px;
  z-index: 100;
  overflow: auto;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header__menu.active {
  top: 0;
}

.header__burger.active::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
}

.header__burger.active::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
}

.header__burger.active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

body.lock {
  overflow: hidden;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 30px;
  line-height: 37px;
  color: #fff;
  position: relative;
  padding: 5px;
  margin-bottom: 50px;
}

.menu__list a:before {
  content: "";
  width: 30px;
  height: 1px;
  background-color: #936dff;
  bottom: 0;
  left: 0;
  z-index: 101;
  position: absolute;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.menu__list a:hover::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #936dff;
  bottom: 0;
  left: 0;
  z-index: 101;
  position: absolute;
}

.no-webp .intro {
  background: url("../img/Mask Group2.jpg") 100% 0/cover; }

.intro {
  overflow: hidden;
  padding-top: 70px;
}

.intro__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  letter-spacing: 0.04em;
  height: 100%;
  min-height: 840px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro__suptitle,
.title {
  font-family: "Playfair Display", serif;
  font-size: 45px;
  line-height: 60px;
  color: #eee9ff;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 40px;
}

.intro__suptitle:before,
.title:before {
  content: "";
  width: 183px;
  height: 0;
  border: 2px solid #936dff;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  bottom: 0;
  left: 0;
  position: absolute;
}

.intro__title {
  font-family: "Playfair Display", serif;
  font-size: 60px;
  line-height: 80px;
  font-weight: 600;
  margin-bottom: 80px;
  color: #fff;
}

.intro__title span {
  display: inline-block;
  font-size: 18px;
  line-height: 22px;
  color: #936dff;
  font-weight: 300;
  margin-left: 30px;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

* id {
  cursor: pointer;
}

.btn {
  cursor: pointer;
  width: 100%;
  max-width: 285px;
  font-weight: 450;
  font-size: 16px;
  line-height: 20px;
  border: 1px solid #6132e4;
  color: #fff;
  padding: 16px 20px;
  margin: 10px;
}

.btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#6132e4), color-stop(53.12%, #936dff), to(#6132e4)), #6132e4;
  background: -o-linear-gradient(top, #6132e4 0%, #936dff 53.12%, #6132e4 100%), #6132e4;
  background: linear-gradient(180deg, #6132e4 0%, #936dff 53.12%, #6132e4 100%), #6132e4;
}

.btn-active {
  background: #6132e4;
}

.btn__block {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 80px auto 0;
}

.btn-popup {
  margin-top: 20px;
}

.title {
  font-family: "Playfair Display", serif;
  color: #433e51;
}

.about {
  height: 100%;
}

.about__container {
  padding: 30px 0px 70px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-column-1 {
  position: relative;
  margin-top: -15%;
  font-family: "AvenirNextCyr";
  width: 50%;
  max-width: 600px;
  background: #fbfaff;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  padding: 75px 100px 80px;
  margin-right: 50px;
}

.about-column-1 p {
  margin-top: 20px;
  font-weight: 450;
  font-size: 18px;
  line-height: 22px;
  color: #433e51;
}

.about-column-1 p:first-child {
  font-size: 20px;
}

.about-column-2 {
  width: 50%;
  max-width: 490px;
  min-height: 735px;
}

.about__item {
  margin-bottom: 40px;
}

.about-item-1 {
  background: url("../img/icon/About/01.svg") 0 0 no-repeat;
}

.about-item-2 {
  background: url("../img/icon/About/02.svg") 0 0 no-repeat;
}

.about-item-3 {
  background: url("../img/icon/About/03.svg") 0 0 no-repeat;
}

.about-item-4 {
  background: url("../img/icon/About/04.svg") 0 0 no-repeat;
}

.about-item-inner {
  padding-left: 100px;
}

.about-item {
  margin: 12px 0px 12px 0px;
}

.about-item__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 29px;
  color: #433e51;
  margin-bottom: 15px;
}

.about-item__text {
  font-size: 16px;
  line-height: 20px;
  color: #605b6d;
}

.services {
  display: block;
  padding: 70px 0px 70px 0px;
}

.services__item {
  display: inline-block;
  position: relative;
  line-height: 1;
}

.services__item:after {
  content: "";
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.services__item:hover:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.3))), rgba(97, 50, 228, 0.8);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%), rgba(97, 50, 228, 0.8);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%), rgba(97, 50, 228, 0.8);
  opacity: 0.8;
}

.services__item .gradient:before {
  content: "";
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.no-webp .services__item:hover:before {
  background: url("../img/Services/hover-icon.png") 0 0 no-repeat; }

.services__item:hover:before {
  content: "";
  display: inline-block;
  width: 52px;
  height: 52px;
  margin: -26px 0 0 -26px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
}

.services__content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
  padding: 20px 0;
  position: relative;
}

.services__item {
  min-height: 244px;
  background-position: center;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.services__item span {
  padding: 0 0 20px 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #fff;
  z-index: 50;
}

.services__item:nth-child(1) {
  grid-column: 1 / 5;
}

.services__item:nth-child(2) {
  grid-column: 5 / 8;
}

.services__item:nth-child(3) {
  grid-column: 8 / 13;
}

.services__item:nth-child(4) {
  grid-column: 1 / 7;
  grid-row: 2/ 4;
}

.services__item:nth-child(5) {
  grid-column: 7 / 13;
}

.services__item:nth-child(6) {
  grid-column: 7 / 13;
}

.services__item:nth-child(7) {
  grid-column: 1 / 6;
}

.services__item:nth-child(8) {
  grid-column: 6 / 9;
}

.services__item:nth-child(9) {
  grid-column: 9 / 13;
}

.no-webp .services__item-1 {
  background: url("../img/Services/services-1.jpg") center/cover; }

.no-webp .services__item-2 {
  background: url("../img/Services/services-2.jpg") center/cover; }

.no-webp .services__item-3 {
  background: url("../img/Services/services-3.jpg") center/cover; }

.no-webp .services__item-4 {
  background: url("../img/Services/services-4.jpg") center/cover; }

.no-webp .services__item-5 {
  background: url("../img/Services/services-5.jpg") center/cover; }

.no-webp .services__item-6 {
  background: url("../img/Services/services-6.jpg") center/cover; }

.no-webp .services__item-7 {
  background: url("../img/Services/services-7.jpg") center/cover; }

.no-webp .services__item-8 {
  background: url("../img/Services/services-8.jpg") center/cover; }

.no-webp .services__item-9 {
  background: url("../img/Services/services-9.jpg") center/cover; }

.sertificate {
  padding: 70px 0px 70px 0px;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-track .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider {
  position: relative;
  padding: 0 5px;
}

.slider__item {
  text-align: center;
  margin: 0 5px;
}

.slider .slick-arrow {
  position: absolute;
  bottom: 10px;
  padding: 5px;
  z-index: 2;
  font-size: 0;
  height: 40px;
  width: 40px;
}

.no-webp .slider .slick-arrow.slick-prev {
  background: url("../img/left arrow.png") 0 0/100% no-repeat; }

.slider .slick-arrow.slick-prev {
  right: 40px;
}

.no-webp .slider .slick-arrow.slick-next {
  background: url("../img/right arow.png") 0 0/100% no-repeat; }

.slider .slick-arrow.slick-next {
  right: 0;
}

.slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider .slick-dots li {
  list-style: none;
}

.slider .slick-dots li.slick-active button {
  border: 4px solid #6132e4;
}

.slider .slick-dots button {
  font-size: 0;
  padding: 2px;
  margin: 40px 3px 0;
  border: 4px solid #f3efff;
}

.stage {
  padding: 70px 0px 70px 0px;
}

.stage__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.stege__item {
  background: #fbfaff;
  width: 30%;
  min-height: 165px;
  min-width: 380px;
  margin: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 25px 25px 30px 100px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.stege__item .title {
  margin-bottom: 20px;
}

.stege__item:first-child {
  display: block;
  background: #fff;
  color: #5f5a6d;
  padding: 0;
}

.stege__item-1 {
  background: #fbfaff url("../img/icon/Stage/icon01.svg") 5% 20% no-repeat;
}

.stege__item-2 {
  background: #fbfaff url("../img/icon/Stage/icon02.svg") 5% 20% no-repeat;
}

.stege__item-3 {
  background: #fbfaff url("../img/icon/Stage/icon03.svg") 5% 20% no-repeat;
}

.stege__item-4 {
  background: #fbfaff url("../img/icon/Stage/icon04.svg") 5% 20% no-repeat;
}

.stege__item-5 {
  background: #332c44 url("../img/icon/Stage/icon05.svg") 5% 20% no-repeat;
  color: #fff;
}

.stege__text {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #5f5a6d;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 40px;
}

.contact__title {
  width: 30%;
  min-width: 320px;
  font-weight: 600;
  font-size: 25px;
  line-height: 33px;
  letter-spacing: 0.04em;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
}

.styleform {
  border: 1px solid #332c44;
  width: 100%;
  max-width: 251px;
  max-height: 50px;
  margin: 0 10px;
  padding-left: 15px;
}

.contact-btn {
  width: 100%;
  min-width: 251px;
  max-height: 50px;
  margin: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.works {
  padding: 70px 0px 70px 0px;
}

.works__column-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 50%;
  max-width: 480px;
  margin-left: 55px;
}

.works__column-1 {
  width: 50%;
  max-width: 600px;
  margin-right: 55px;
  z-index: 50;
}

.works__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.works__title {
  font-weight: 600;
  font-size: 35px;
  line-height: 47px;
  letter-spacing: 0.04em;
  color: #433e51;
}

.works__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.04em;
  color: #5f5a6d;
}

.works__text p {
  margin: 20px 0;
}

.works__block {
  width: 100%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.works__btn {
  font-size: 16px;
  text-align: center;
  color: #6132e4;
  width: 100%;
  max-width: 180px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0px 0px 0px 0px;
}

.works__btn:hover {
  color: #fff;
}

.sliderbig {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.sliderbig .slick-arrow {
  position: absolute;
  bottom: 20px;
  padding: 5px;
  z-index: 1300;
  font-size: 0;
  height: 60px;
  width: 60px;
}

.no-webp .sliderbig .slick-arrow.slick-prev {
  background: url("../img/left arrow.png") 0 0/100% no-repeat; }

.sliderbig .slick-arrow.slick-prev {
  right: 60px;
}

.no-webp .sliderbig .slick-arrow.slick-next {
  background: url("../img/right arow.png") 0 0/100% no-repeat; }

.sliderbig .slick-arrow.slick-next {
  right: 0;
}

.sliderbig-item {
  margin-bottom: 25px;
  overflow: hidden;
}

.sliderbig-item img {
  height: 100%;
  max-height: 540px;
  -o-object-fit: cover;
     object-fit: cover;
}

.slidermin {
  max-width: 600px;
  margin: 20px auto 0;
}

.slidermin-item {
  height: 100%;
  max-height: 150px;
  position: relative;
}

.slidermin-item img {
  height: 150px;
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.slidermin-item:after {
  content: "";
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.slidermin-item:hover:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.3))), rgba(97, 50, 228, 0.8);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%), rgba(97, 50, 228, 0.8);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%), rgba(97, 50, 228, 0.8);
  opacity: 0.8;
}

.slidermin-item .gradient:before {
  content: "";
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.no-webp .slidermin-item:hover:before {
  background: url("../img/Services/hover-icon.png") 0 0 no-repeat; }

.slidermin-item:hover:before {
  content: "";
  display: inline-block;
  width: 52px;
  height: 52px;
  margin: -26px 0 0 -26px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
}

.partners {
  padding: 70px 0px 70px 0px;
}

.partners__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.partners__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33.33%;
  min-width: 250px;
}

.review {
  padding: 70px 0px 70px 0px;
}

.review__slider-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 590px;
  height: 100%;
  background: #fbfaff;
  padding: 35px 35px 46px 25px;
  margin: 0px 15px 0px 15px;
}

.slider {
  position: relative;
}

.slider__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-right: 30px;
  text-align: center;
}

.slider__img img {
  height: 100%;
  max-width: 140px;
  height: 100%;
  max-height: 190px;
  margin-bottom: 25px;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider__num {
  font-weight: 900;
  font-size: 25px;
  line-height: 33px;
  color: #936dff;
  letter-spacing: 2px;
}

.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.slider__title {
  font-weight: 450;
  font-size: 22px;
  line-height: 27px;
  color: #433e51;
  margin-bottom: 10px;
}

.slider__subtitle {
  font-size: 18px;
  line-height: 22px;
  color: #5f5a6d;
  margin-bottom: 22px;
}

.slider__text {
  font-size: 16px;
  line-height: 20px;
  color: #5f5a6d;
  text-align: left;
}

.review__slider {
  position: relative;
}

.review__slider .slick-arrow {
  position: absolute;
  bottom: 20px;
  padding: 5px;
  z-index: 1300;
  font-size: 0;
  height: 60px;
  width: 60px;
}

.no-webp .review__slider .slick-arrow.slick-prev {
  background: url("../img/left arrow.png") 0 0/100% no-repeat; }

.review__slider .slick-arrow.slick-prev {
  right: 0;
}

.no-webp .review__slider .slick-arrow.slick-next {
  background: url("../img/right arow.png") 0 0/100% no-repeat; }

.review__slider .slick-arrow.slick-next {
  right: 0;
}

.review__slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.review__slider .slick-dots li {
  list-style: none;
}

.review__slider .slick-dots li.slick-active button {
  border: 4px solid #6132e4;
}

.review__slider .slick-dots button {
  font-size: 0;
  padding: 2px;
  margin: 40px 3px 0;
  border: 4px solid #f3efff;
}

.no-webp .price {
  background: url("../img/price-bg.jpg") right no-repeat; }

.price {
  height: 920px;
  background-size: cover;
  padding: 70px 0px 70px 0px;
}

.price__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  max-width: 490px;
  height: 100%;
  min-height: 700px;
  background: #fbfaff;
  padding: 55px 48px 67px 48px;
}

.price__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0.04em;
  color: #433e51;
  margin-bottom: 20px;
}

.price__text {
  margin-bottom: 21px;
}

.price__form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.price__dwnl {
  width: 100%;
  max-width: 394px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 6px 0 35px 0;
  background: url("../img/file+.svg") left no-repeat;
}

.main__price-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #5f5a6d;
}

.main__price-text input {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  background: #fbfaff;
  color: #000;
  border: 1px solid #332c44;
  padding: 14px 20px;
  margin: 10px 0;
}

.btn-file {
  max-width: 110px;
  margin: 0 0 0 30px;
}

.btn-price {
  margin: 0 0 25px 0;
  width: 100%;
  max-width: 394px;
}

.checkbox {
  font-size: 11px;
  line-height: 16px;
  color: #5f5a6d;
  padding-left: 30px;
  background: url("../img/checkbox.svg") 0 0 no-repeat;
}

.footer {
  padding: 70px 0px 0px 0px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  bottom: 100px;
  z-index: 5;
  color: #fff;
}

.footer .map {
  min-height: 630px;
}

.contacts {
  color: #fff;
}

.contacts__block {
  position: relative;
  margin-bottom: -45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  max-width: 430px;
  height: 100%;
  min-height: 640px;
  background: #332c44;
  padding: 45px 120px 67px 80px;
  color: #fff;
}

.contacts__block .title {
  letter-spacing: 0.06em;
  color: #fff;
  margin-bottom: 20px;
}

.contacts__block a {
  color: #fff;
}

.contacts__text {
  font-size: 22px;
  line-height: 29px;
  letter-spacing: 0.04em;
  margin-bottom: 50px;
}

.contacts__item {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin: 10px 0px 10px 0px;
}

.contacts__title {
  font-weight: 450;
  margin-bottom: 10px;
}

.contacts__text-info {
  margin-top: 30px;
}

.copyright {
  background: #171421;
}

.copyright__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyright__text {
  font-size: 14px;
  line-height: 17px;
  color: #beb8ce;
}

.copyright a {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  padding-left: 15px;
  background: url("../img/st-up.svg") left no-repeat;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: black;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
}

.popup__content {
  width: 100%;
  max-width: 590px;
  background-color: #fff;
  color: #beb8ce;
  padding: 60px 100px 55px 100px;
  position: relative;
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  -webkit-transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
          transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup__close {
  position: absolute;
  right: 6%;
  top: 3%;
  font-weight: 700;
  font-size: 25px;
  color: #000;
  text-decoration: none;
  z-index: 2000;
}

.popup__title {
  font-weight: 600;
  font-size: 26px;
  line-height: 35px;
  color: #433e51;
  position: relative;
  text-align: center;
  margin-bottom: 25px;
}

.popup__title:after {
  content: "";
  width: 183px;
  height: 0;
  border: 2px solid #936dff;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  bottom: -30%;
  left: 25%;
  position: absolute;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  -webkit-transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
          transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
  opacity: 1;
}

.date {
  border: 1px solid #332c44;
  width: 100%;
  max-width: 180px;
  background: #fbfaff;
  position: relative;
}

.date::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 5px 0 5px;
  border-color: #6132e4 transparent transparent transparent;
  position: absolute;
  top: 40%;
  right: 10%;
}

.date select {
  line-height: 20px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 16px 10px 16px 20px;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #fbfaff;
}

.date__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
  margin: 10px 0px 10px 0px;
}

.popuparia {
  width: 100%;
  max-width: 385px;
  height: 100%;
  min-height: 145px;
  border: 1px solid #332c44;
  padding: 15px;
  margin: 10px 0px 35px 0px;
  background: #fbfaff;
}

.popupslider {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popupslider__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popupslider__content {
  width: 100%;
  max-width: 1200px;
  position: relative;
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  -webkit-transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
          transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

.popupslider__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popupslider__close {
  position: absolute;
  right: 0;
  top: 0;
  font-weight: 700;
  font-size: 26px;
  color: #fff;
  text-decoration: none;
}

.popupslider__title {
  font-weight: bold;
  font-size: 35px;
  line-height: 47px;
  color: #fff;
}

.popupslider__text {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.04em;
  color: #c4c4c4;
  margin-bottom: 25px;
}

.popupslider.open {
  opacity: 1;
  visibility: visible;
}

.popupslider.open .popupslider__content {
  -webkit-transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
          transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
  opacity: 1;
}

.popup__slider-big .slick-arrow {
  position: absolute;
  top: 35%;
  z-index: 2;
  font-size: 0;
  width: 25px;
  height: 45px;
}

.popup__slider-big .slick-arrow.slick-prev {
  left: -5%;
  background: url("../img/sl-arrow_l.svg") 0 0/100% no-repeat;
}

.popup__slider-big .slick-arrow.slick-next {
  right: -5%;
  background: url("../img/sl-arrow_r.svg") 0 0/100% no-repeat;
}

.popupsliderbig-item {
  height: 100%;
  max-height: 550px;
  margin-bottom: 25px;
}

.popupsliderbig-item img {
  width: 100%;
  height: 550px;
}

.popupslidermin-item {
  height: 100%;
  max-height: 130px;
}

.popupslidermin-item img {
  height: 130px;
  width: 220px;
  margin: 0px 10px 0px 10px;
}

.popupserv {
  position: fixed;
  width: 100%;
  height: 100%;
  background: black;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 1;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popupserv__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
}

.popupserv__content {
  width: 100%;
  max-width: 1400px;
  color: #beb8ce;
  position: relative;
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  -webkit-transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
          transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

.popupserv__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popupserv__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 20px 10px;
}

.popupserv__item-1 {
  width: 50%;
}

.popupserv__item-1 img {
  width: 100%;
  height: 100%;
  min-height: 500px;
}

.popupserv__item-2 {
  width: 50%;
  padding: 5px 40px 30px;
}

.popupserv__close {
  position: absolute;
  right: 3%;
  top: 0;
  font-weight: 700;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
}

.popupserv__title {
  font-weight: 600;
  font-size: 26px;
  line-height: 35px;
  color: #fff;
  margin-bottom: 20px;
}

.popupserv__text p {
  margin-bottom: 20px;
}

.popupserv .btn {
  text-align: center;
  float: right;
}

.popupserv.open {
  opacity: 1;
  visibility: visible;
}

.popupserv.open .popupserv__content {
  -webkit-transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
          transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
  opacity: 1;
}

@media (max-width: 1210px) {
  .header__container {
    padding: 20px 30px 20px;
  }

  .stege__item {
    width: 48%;
    min-height: 125px;
  }

  .popupserv__body {
    margin-top: 100px;
  }

  .popup__body {
    margin-top: 100px;
  }

  .popupslider__content {
    max-width: 1000px;
  }

  .works__column-2 {
    margin-left: 10px;
  }
}

@media (max-width: 1100px) {
  .about-column-1 {
    padding: 60px 80px;
    margin: -15% 10px 5px;
  }

  .works__column-1 {
    margin-right: 10px;
  }

  .works__column-2 {
    margin-left: 10px;
  }

  .review__slider-block {
    padding: 25px 25px 36px 15px;
  }

  .slidermin-item img {
    width: 47%;
    height: 150px;
    width: 200px;
    margin: 0 auto;
  }
}

@media (max-width: 1024px) {
  .works__btn {
    position: relative;
    margin: 0 auto;
  }

  .works__column-2 {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
  }

  .works__column-1 {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
  }

  .partners__item {
    width: 50%;
  }

  .contact {
    margin: 40px auto 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .contact__form {
    margin-top: 20px;
  }

  .review__slider-block {
    min-width: 950px;
    margin: 0px 30px 0px 30px;
  }

  .btn__block {
    margin-top: 40px;
  }

  .about__container {
    padding: 15px 0 35px;
  }

  .price,
  .review,
  .partners,
  .works,
  .stage,
  .sertificate,
  .services {
    padding: 35px 0px 35px 0px;
  }

  .footer {
    padding-top: 35px;
  }

  .contacts__block {
    margin-bottom: -60%;
  }

  .review__slider-block {
    text-align: center;
    margin: 0 auto;
  }
}

@media (max-width: 999px) {
  .about-column-1 {
    width: 100%;
    margin: 0 50px;
    max-width: 900px;
    margin-top: -10%;
  }

  .about-column-2 {
    width: 100%;
    max-width: 900px;
    min-height: 500px;
    margin: 20px 50px 0px 50px;
  }

  .about__item {
    margin-bottom: 20px;
  }

  .popupserv__item-1 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .popupserv__item-1 img {
    width: 100%;
    height: 100%;
    max-height: 400px;
  }

  .popupserv__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .popupserv__title {
    font-size: 20px;
  }
}

@media (max-width: 850px) {
  .container {
    padding: 0 20px;
  }

  .intro__container {
    min-height: 700px;
  }

  .popupsliderbig-item img {
    height: 450px;
  }
}

@media (max-width: 840px) {
  .stege__item {
    width: 75%;
    margin: 5px auto;
    min-height: 100px;
  }

  .contacts__block {
    margin-bottom: -75%;
  }

  .review__slider-block {
    min-width: 840px;
    margin: 0px 5px 0px 5px;
  }
}

@media (max-width: 768px) {
  .contact__form {
    width: 100%;
  }

  .intro {
    min-height: 860px;
  }

  .intro__container {
    min-height: 640px;
  }

  .about-column-1 {
    padding: 30px 30px;
    margin: -15% 15px 0;
  }

  .about-column-2 {
    margin: 10px 30px 0px 30px;
  }

  .stege__item {
    width: 100%;
  }

  .btn {
    max-width: none;
  }

  .btn__block {
    margin-top: 10px;
  }

  .price,
  .review,
  .partners,
  .works,
  .stage,
  .sertificate,
  .services {
    padding: 15px 0px 15px 0px;
  }

  .partners__item {
    width: 50%;
    min-width: 350px;
    min-height: 200px;
  }

  .partners__item img {
    width: 100%;
    max-width: 500px;
    height: 100%;
    min-height: 200px;
    -o-object-fit: contain;
       object-fit: contain;
  }

  .btn-file {
    max-width: 110px;
  }

  .contact-btn {
    min-width: 210px;
  }

  .review__slider-block {
    min-width: 760px;
    margin: 0px 5px 0px 5px;
  }
}

@media (max-width: 700px) {
  .partners__item {
    width: 50%;
    min-width: 250px;
    min-height: 200px;
  }

  .partners__item img {
    width: 100%;
    max-width: 300px;
    height: 100%;
    min-height: 200px;
    -o-object-fit: contain;
       object-fit: contain;
  }

  .review__slider-block {
    min-width: 700px;
    margin: 0px 5px 0px 5px;
  }
}

@media (max-width: 600px) {
  .styleform {
    width: 100%;
    margin: 5px 0px;
    padding: 10px;
    max-width: none;
  }

  .contact__form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .button {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .intro__suptitle,
  .title {
    font-size: 35px;
    line-height: 40px;
  }

  .intro__title {
    font-size: 45px;
    line-height: 60px;
  }

  .telnumber {
    opacity: 0;
    visibility: hidden;
  }

  .price__block {
    height: 100%;
    min-height: 700px;
    background: #fbfaff;
    padding: 20px 20px 20px 20px;
  }

  .btn-file {
    margin: 0px 0px 0px 0px;
  }

  .services__item span {
    display: none;
  }

  .header__menu {
    right: 0;
    margin-right: 0;
  }

  .review__slider-block {
    min-width: 600px;
    margin: 0px 5px 0px 5px;
  }

  .price {
    background: none;
  }
}

@media (max-width: 550px) {
  .contacts__block {
    width: 100%;
    max-width: none;
    height: 100%;
    min-height: 0;
    padding: 45px;
    position: static;
    margin: 0;
  }

  .map {
    display: none;
  }

  .price__block {
    margin: 0;
  }

  .intro__title {
    font-size: 40px;
  }

  .partners__item {
    text-align: center;
    margin: 0 auto;
  }

  .title {
    margin-bottom: 10px;
  }

  .popup__content {
    padding: 30px 40px 20px 40px;
  }
}

.webp .intro { background: url("../img/Mask Group2.jpg") 100% 0/cover; }

.webp .services__item:hover:before { background: url(../img/Services/hover-icon.webp) 0 0 no-repeat; }

.webp .services__item-1 { background: url(../img/Services/services-1.webp) center/cover; }

.webp .services__item-2 { background: url(../img/Services/services-2.webp) center/cover; }

.webp .services__item-3 { background: url(../img/Services/services-3.webp) center/cover; }

.webp .services__item-4 { background: url(../img/Services/services-4.webp) center/cover; }

.webp .services__item-5 { background: url(../img/Services/services-5.webp) center/cover; }

.webp .services__item-6 { background: url(../img/Services/services-6.webp) center/cover; }

.webp .services__item-7 { background: url(../img/Services/services-7.webp) center/cover; }

.webp .services__item-8 { background: url(../img/Services/services-8.webp) center/cover; }

.webp .services__item-9 { background: url(../img/Services/services-9.webp) center/cover; }

.webp .slider .slick-arrow.slick-prev { background: url("../img/left arrow.png") 0 0/100% no-repeat; }

.webp .slider .slick-arrow.slick-next { background: url("../img/right arow.png") 0 0/100% no-repeat; }

.webp .sliderbig .slick-arrow.slick-prev { background: url("../img/left arrow.png") 0 0/100% no-repeat; }

.webp .sliderbig .slick-arrow.slick-next { background: url("../img/right arow.png") 0 0/100% no-repeat; }

.webp .slidermin-item:hover:before { background: url(../img/Services/hover-icon.webp) 0 0 no-repeat; }

.webp .review__slider .slick-arrow.slick-prev { background: url("../img/left arrow.png") 0 0/100% no-repeat; }

.webp .review__slider .slick-arrow.slick-next { background: url("../img/right arow.png") 0 0/100% no-repeat; }

.webp .price { background: url(../img/price-bg.webp) right no-repeat; }